<% layout('layouts/boilerplate') %>
<section class="w-full flex flex-col items-center bg-[#0C0C0E] lg:min-h-[100vh]">
    <main class="lg:w-[70%] w-[90%] flex flex-col items-center gap-14 text-center py-32 sm:mb-10 mb-2">
        <h1 class="font-semibold text-[#65DC8B] px-10 py-2 border border-[#2D302E] rounded-[8px]">Contact</h1>
        <div class="w-full rounded-3xl overflow-hidden sm:block hidden">
            <img src="/images/contactImg.png" alt="" class="w-full h-full object-cover" />
        </div>
        <div class="w-full sm:hidden h-[604px] rounded-[40px] overflow-hidden">
            <img src="/images/contactSmall.png" alt="" class="w-full h-full object-cover">
        </div>
    </main>
    <div class="lg:w-[50%] w-[90%] mb-32 flex sm:flex-row flex-col sm:items-start items-center justify-between sm:space-y-0  space-y-10">
        <div class="flex flex-col items-center">
            <div class="flex items-center justify-center gap-3 mb-2.5">
                <svg class="lg:w-[56px] w-[30px] lg:h-[56px] h-[30px]" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.875" y="0.875" width="54.25" height="54.25" rx="6.125" stroke="#323934" stroke-width="1.75" />
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M27.1805 28.8267C34.1614 35.8056 35.7451 27.7318 40.1899 32.1734C44.475 36.4573 46.9378 37.3156 41.5087 42.7433C40.8286 43.2898 36.5078 49.865 21.3231 34.6844C6.13641 19.502 12.7078 15.1768 13.2544 14.4969C18.6968 9.05423 19.5403 11.5314 23.8254 15.8153C28.2701 20.2589 20.1997 21.8477 27.1805 28.8267Z"
                        fill="#65DC8B"
                    />
                </svg>
                <h1 class="text-[#65DC8B] font-semibold sm:text-2xl text-lg">Call us</h1>
            </div>
            <p class="text-[#FFFFFF] font-medium sm:text-base text-sm">+234 810 395 7622</p>
            <p class="text-[#FFFFFF] font-medium sm:text-base text-sm">+234 806 212 6610</p>
        </div>
        <div class="flex flex-col items-center">
            <div class="flex items-center gap-3 mb-2.5">
                <svg class="lg:w-[56px] w-[30px] lg:h-[56px] h-[30px]" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.703125" y="0.703125" width="54.5938" height="54.5938" rx="4.92188" stroke="#323934" stroke-width="1.40625"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.1248 25.0541C13.1248 17.0044 19.8515 10.498 27.9883 10.498C36.148 10.498 42.8748 17.0044 42.8748 25.0541C42.8748 29.1105 41.3995 32.8764 38.9714 36.0683C36.2927 39.5892 32.991 42.6569 29.2747 45.0648C28.4242 45.6213 27.6565 45.6633 26.723 45.0648C22.9855 42.6569 19.6839 39.5892 17.0281 36.0683C14.5982 32.8764 13.1248 29.1105 13.1248 25.0541ZM23.0897 25.5081C23.0897 28.2047 25.2902 30.3257 27.9883 30.3257C30.6882 30.3257 32.9099 28.2047 32.9099 25.5081C32.9099 22.8324 30.6882 20.6082 27.9883 20.6082C25.2902 20.6082 23.0897 22.8324 23.0897 25.5081Z" fill="#65DC8B"/>
                    </svg>
                    
                <h1 class="text-[#65DC8B] font-semibold sm:text-2xl text-lg">Locate us</h1>
            </div>
            <p class="text-[#FFFFFF] font-medium sm:text-base text-sm">Lekki phase 1</p>
        </div>
        <div class="flex flex-col items-center">
            <div class="flex items-center gap-3 mb-2.5">
                <svg  class="lg:w-[56px] w-[30px] lg:h-[56px] h-[30px]" viewBox="0 0 57 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.625" y="0.75" width="54.5" height="54.5" rx="5.25" stroke="#323934" stroke-width="1.5"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M37.5192 12.25C39.866 12.25 42.1235 13.1775 43.7842 14.8417C45.4467 16.5025 46.376 18.7425 46.376 21.0875V34.9125C46.376 39.795 42.4035 43.75 37.5192 43.75H20.231C15.3467 43.75 11.376 39.795 11.376 34.9125V21.0875C11.376 16.205 15.3292 12.25 20.231 12.25H37.5192ZM40.3034 23.6936L40.4434 23.5536C40.8616 23.0461 40.8616 22.3111 40.4241 21.8036C40.1809 21.5429 39.8466 21.3836 39.4984 21.3486C39.1309 21.3294 38.7809 21.4536 38.5166 21.6986L30.6259 27.9986C29.6109 28.8404 28.1566 28.8404 27.1259 27.9986L19.2509 21.6986C18.7066 21.2961 17.9541 21.3486 17.5009 21.8211C17.0284 22.2936 16.9759 23.0461 17.3766 23.5711L17.6059 23.7986L25.5684 30.0111C26.5484 30.7811 27.7366 31.2011 28.9809 31.2011C30.2216 31.2011 31.4309 30.7811 32.4091 30.0111L40.3034 23.6936Z" fill="#65DC8B"/>
                    </svg>
                    
                    
                <h1 class="text-[#65DC8B] font-semibold sm:text-2xl text-lg">Email us</h1>
            </div>
            <p class="text-[#FFFFFF] font-medium sm:text-base text-sm">info@plotpal.com</p>
        </div>
    </div>
</section>
