<% layout('layouts/boilerplate') %>
<section class="w-full flex flex-col items-center bg-[#0C0C0E] min-h-[100vh]">
    <main class="lg:w-[70%] w-[90%] flex flex-col items-center gap-14 text-center py-32 mb-10">
        <h1 class="font-semibold text-[#65DC8B] px-10 py-2 border border-[#2D302E] rounded-[8px]">FAQs</h1>
        <div class="w-full rounded-3xl overflow-hidden sm:block hidden">
            <img src="/images/faqImage.png" alt="" class="w-full h-full object-cover" />
        </div>
        <div class="w-full sm:hidden h-[604px] rounded-[40px] overflow-hidden">
            <img src="/images/faqSmall.png" alt="" class="w-full h-full object-cover" />
        </div>
    </main>
    <div class="lg:w-[50%] w-[90%] mb-32 space-y-10">
        <div class="faq cursor-pointer border-b border-[#36363699] overflow-hidden pb-4">
            <div class="question flex items-center justify-between">
                <h1 class="accordionBtn text-[#fefefe] font-medium">What is Plotpal?</h1>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M4.99991 0.495426L5.00062 4.99899L0.494931 4.99899C0.361695 5.00048 0.2344 5.05435 0.14058 5.14897C0.0467597 5.24358 -0.00604334 5.37133 -0.00640786 5.50457L-0.00570079 6.49523C-0.00708118 6.56162 0.00488322 6.62761 0.0294821 6.68928C0.0540808 6.75096 0.0908134 6.80707 0.137502 6.85429C0.184191 6.9015 0.239886 6.93887 0.301283 6.96416C0.362681 6.98945 0.428532 7.00215 0.494931 7.00152L4.99849 7.00081L4.99991 11.5051C5.00158 11.6383 5.05564 11.7655 5.15039 11.8592C5.24513 11.9529 5.37295 12.0055 5.5062 12.0057L6.49615 12.0057C6.78818 12.0064 7.00244 11.7823 7.00244 11.5051L7.00314 7.0001L11.5067 7.00081C11.6399 6.99914 11.7672 6.94508 11.8608 6.85033C11.9545 6.75559 12.0072 6.62777 12.0073 6.49452L12.008 5.50386C12.0093 5.43747 11.9973 5.3715 11.9726 5.30986C11.9479 5.24822 11.9111 5.19216 11.8643 5.14501C11.8176 5.09786 11.7618 5.06058 11.7004 5.03537C11.639 5.01017 11.5731 4.99756 11.5067 4.99828L7.00102 4.99828L7.00243 0.494012C7.00095 0.360776 6.94707 0.23348 6.85246 0.13966C6.75784 0.0458405 6.6301 -0.00696309 6.49685 -0.00732761L5.5069 -0.00732694C5.43977 -0.00811148 5.37314 0.00442044 5.31088 0.0295445C5.24861 0.0546685 5.19195 0.0918859 5.14416 0.139045C5.098 0.185964 5.06156 0.241535 5.03693 0.302571C5.01229 0.363606 4.99995 0.428905 5.00062 0.49472L4.99991 0.495426Z"
                        fill="white"
                    />
                </svg>
            </div>
            <div class="answer">
                <p class="text-[#fefefe] text-sm font-light pt-2">
                    Plotpal is a mobile app that allows you to purchase land through affordable installment payments. You can choose to pay daily, weekly, monthly, or quarterly, and easily track your payment progress through the app.
                </p>
            </div>
        </div>
        <div class="faq cursor-pointer border-b border-[#36363699] overflow-hidden pb-4">
            <div class="question flex items-center justify-between">
                <h1 class="accordionBtn text-[#fefefe] font-medium">How does the installment payment plan work?</h1>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M4.99991 0.495426L5.00062 4.99899L0.494931 4.99899C0.361695 5.00048 0.2344 5.05435 0.14058 5.14897C0.0467597 5.24358 -0.00604334 5.37133 -0.00640786 5.50457L-0.00570079 6.49523C-0.00708118 6.56162 0.00488322 6.62761 0.0294821 6.68928C0.0540808 6.75096 0.0908134 6.80707 0.137502 6.85429C0.184191 6.9015 0.239886 6.93887 0.301283 6.96416C0.362681 6.98945 0.428532 7.00215 0.494931 7.00152L4.99849 7.00081L4.99991 11.5051C5.00158 11.6383 5.05564 11.7655 5.15039 11.8592C5.24513 11.9529 5.37295 12.0055 5.5062 12.0057L6.49615 12.0057C6.78818 12.0064 7.00244 11.7823 7.00244 11.5051L7.00314 7.0001L11.5067 7.00081C11.6399 6.99914 11.7672 6.94508 11.8608 6.85033C11.9545 6.75559 12.0072 6.62777 12.0073 6.49452L12.008 5.50386C12.0093 5.43747 11.9973 5.3715 11.9726 5.30986C11.9479 5.24822 11.9111 5.19216 11.8643 5.14501C11.8176 5.09786 11.7618 5.06058 11.7004 5.03537C11.639 5.01017 11.5731 4.99756 11.5067 4.99828L7.00102 4.99828L7.00243 0.494012C7.00095 0.360776 6.94707 0.23348 6.85246 0.13966C6.75784 0.0458405 6.6301 -0.00696309 6.49685 -0.00732761L5.5069 -0.00732694C5.43977 -0.00811148 5.37314 0.00442044 5.31088 0.0295445C5.24861 0.0546685 5.19195 0.0918859 5.14416 0.139045C5.098 0.185964 5.06156 0.241535 5.03693 0.302571C5.01229 0.363606 4.99995 0.428905 5.00062 0.49472L4.99991 0.495426Z"
                        fill="white"
                    />
                </svg>
            </div>
            <div class="answer">
                <p class="text-[#fefefe] text-sm font-light pt-2">
                    Plotpal is a mobile app that allows you to purchase land through affordable installment payments. You can choose to pay daily, weekly, monthly, or quarterly, and easily track your payment progress through the app.
                </p>
            </div>
        </div>
        <div class="faq cursor-pointer border-b border-[#36363699] overflow-hidden pb-4">
            <div class="question flex items-center justify-between">
                <h1 class="accordionBtn text-[#fefefe] font-medium">What are the benefits of using Plotpal?</h1>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M4.99991 0.495426L5.00062 4.99899L0.494931 4.99899C0.361695 5.00048 0.2344 5.05435 0.14058 5.14897C0.0467597 5.24358 -0.00604334 5.37133 -0.00640786 5.50457L-0.00570079 6.49523C-0.00708118 6.56162 0.00488322 6.62761 0.0294821 6.68928C0.0540808 6.75096 0.0908134 6.80707 0.137502 6.85429C0.184191 6.9015 0.239886 6.93887 0.301283 6.96416C0.362681 6.98945 0.428532 7.00215 0.494931 7.00152L4.99849 7.00081L4.99991 11.5051C5.00158 11.6383 5.05564 11.7655 5.15039 11.8592C5.24513 11.9529 5.37295 12.0055 5.5062 12.0057L6.49615 12.0057C6.78818 12.0064 7.00244 11.7823 7.00244 11.5051L7.00314 7.0001L11.5067 7.00081C11.6399 6.99914 11.7672 6.94508 11.8608 6.85033C11.9545 6.75559 12.0072 6.62777 12.0073 6.49452L12.008 5.50386C12.0093 5.43747 11.9973 5.3715 11.9726 5.30986C11.9479 5.24822 11.9111 5.19216 11.8643 5.14501C11.8176 5.09786 11.7618 5.06058 11.7004 5.03537C11.639 5.01017 11.5731 4.99756 11.5067 4.99828L7.00102 4.99828L7.00243 0.494012C7.00095 0.360776 6.94707 0.23348 6.85246 0.13966C6.75784 0.0458405 6.6301 -0.00696309 6.49685 -0.00732761L5.5069 -0.00732694C5.43977 -0.00811148 5.37314 0.00442044 5.31088 0.0295445C5.24861 0.0546685 5.19195 0.0918859 5.14416 0.139045C5.098 0.185964 5.06156 0.241535 5.03693 0.302571C5.01229 0.363606 4.99995 0.428905 5.00062 0.49472L4.99991 0.495426Z"
                        fill="white"
                    />
                </svg>
            </div>
            <div class="answer">
                <p class="text-[#fefefe] text-sm font-light pt-2">
                    Plotpal is a mobile app that allows you to purchase land through affordable installment payments. You can choose to pay daily, weekly, monthly, or quarterly, and easily track your payment progress through the app.
                </p>
            </div>
        </div>
        <div class="faq cursor-pointer border-b border-[#36363699] overflow-hidden pb-4">
            <div class="question flex items-center justify-between">
                <h1 class="accordionBtn text-[#fefefe] font-medium">Is there a minimum payment amount?</h1>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M4.99991 0.495426L5.00062 4.99899L0.494931 4.99899C0.361695 5.00048 0.2344 5.05435 0.14058 5.14897C0.0467597 5.24358 -0.00604334 5.37133 -0.00640786 5.50457L-0.00570079 6.49523C-0.00708118 6.56162 0.00488322 6.62761 0.0294821 6.68928C0.0540808 6.75096 0.0908134 6.80707 0.137502 6.85429C0.184191 6.9015 0.239886 6.93887 0.301283 6.96416C0.362681 6.98945 0.428532 7.00215 0.494931 7.00152L4.99849 7.00081L4.99991 11.5051C5.00158 11.6383 5.05564 11.7655 5.15039 11.8592C5.24513 11.9529 5.37295 12.0055 5.5062 12.0057L6.49615 12.0057C6.78818 12.0064 7.00244 11.7823 7.00244 11.5051L7.00314 7.0001L11.5067 7.00081C11.6399 6.99914 11.7672 6.94508 11.8608 6.85033C11.9545 6.75559 12.0072 6.62777 12.0073 6.49452L12.008 5.50386C12.0093 5.43747 11.9973 5.3715 11.9726 5.30986C11.9479 5.24822 11.9111 5.19216 11.8643 5.14501C11.8176 5.09786 11.7618 5.06058 11.7004 5.03537C11.639 5.01017 11.5731 4.99756 11.5067 4.99828L7.00102 4.99828L7.00243 0.494012C7.00095 0.360776 6.94707 0.23348 6.85246 0.13966C6.75784 0.0458405 6.6301 -0.00696309 6.49685 -0.00732761L5.5069 -0.00732694C5.43977 -0.00811148 5.37314 0.00442044 5.31088 0.0295445C5.24861 0.0546685 5.19195 0.0918859 5.14416 0.139045C5.098 0.185964 5.06156 0.241535 5.03693 0.302571C5.01229 0.363606 4.99995 0.428905 5.00062 0.49472L4.99991 0.495426Z"
                        fill="white"
                    />
                </svg>
            </div>
            <div class="answer">
                <p class="text-[#fefefe] text-sm font-light pt-2">
                    Plotpal is a mobile app that allows you to purchase land through affordable installment payments. You can choose to pay daily, weekly, monthly, or quarterly, and easily track your payment progress through the app.
                </p>
            </div>
        </div>
        <div class="faq cursor-pointer border-b border-[#36363699] overflow-hidden pb-4">
            <div class="question flex items-center justify-between">
                <h1 class="accordionBtn text-[#fefefe] font-medium">How do I get started with Plotpal?</h1>
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        fill-rule="evenodd"
                        clip-rule="evenodd"
                        d="M4.99991 0.495426L5.00062 4.99899L0.494931 4.99899C0.361695 5.00048 0.2344 5.05435 0.14058 5.14897C0.0467597 5.24358 -0.00604334 5.37133 -0.00640786 5.50457L-0.00570079 6.49523C-0.00708118 6.56162 0.00488322 6.62761 0.0294821 6.68928C0.0540808 6.75096 0.0908134 6.80707 0.137502 6.85429C0.184191 6.9015 0.239886 6.93887 0.301283 6.96416C0.362681 6.98945 0.428532 7.00215 0.494931 7.00152L4.99849 7.00081L4.99991 11.5051C5.00158 11.6383 5.05564 11.7655 5.15039 11.8592C5.24513 11.9529 5.37295 12.0055 5.5062 12.0057L6.49615 12.0057C6.78818 12.0064 7.00244 11.7823 7.00244 11.5051L7.00314 7.0001L11.5067 7.00081C11.6399 6.99914 11.7672 6.94508 11.8608 6.85033C11.9545 6.75559 12.0072 6.62777 12.0073 6.49452L12.008 5.50386C12.0093 5.43747 11.9973 5.3715 11.9726 5.30986C11.9479 5.24822 11.9111 5.19216 11.8643 5.14501C11.8176 5.09786 11.7618 5.06058 11.7004 5.03537C11.639 5.01017 11.5731 4.99756 11.5067 4.99828L7.00102 4.99828L7.00243 0.494012C7.00095 0.360776 6.94707 0.23348 6.85246 0.13966C6.75784 0.0458405 6.6301 -0.00696309 6.49685 -0.00732761L5.5069 -0.00732694C5.43977 -0.00811148 5.37314 0.00442044 5.31088 0.0295445C5.24861 0.0546685 5.19195 0.0918859 5.14416 0.139045C5.098 0.185964 5.06156 0.241535 5.03693 0.302571C5.01229 0.363606 4.99995 0.428905 5.00062 0.49472L4.99991 0.495426Z"
                        fill="white"
                    />
                </svg>
            </div>
            <div class="answer">
                <p class="text-[#fefefe] text-sm font-light pt-2">
                    Plotpal is a mobile app that allows you to purchase land through affordable installment payments. You can choose to pay daily, weekly, monthly, or quarterly, and easily track your payment progress through the app.
                </p>
            </div>
        </div>
    </div>
</section>
<script>
    const accordions = document.querySelectorAll(".faq");

    accordions.forEach((accordion) => {
        accordion.addEventListener("click", function () {
            accordion.classList.toggle("active");
        });
    });
</script>
